:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.welcomeHomeText,
.welcomeHeader {
  color: white;
  text-align: center;
}


.addSetBtn, .saveSetBtn, .logWorkoutBtn {
  background-color: #f9c000;
  color: black;
  border: none;
  margin: 2%;
}


.addSetBtn:hover, .saveSetBtn:hover,
.logWorkoutBtn:hover {
  background-color: #f9bf0074;
}

.removeSetBtn {
  background-color: #f9000043;
  border: none;
}

.removeSetBtn:hover {
  background-color: #f900002d;
  border: none;
}

