.deleteCommentBtn,
.closeConfirmDeleteBtn {
  padding: 2px !important;
  font-size: 13px !important;
  color: rgb(247, 247, 247) !important;
  background-color: #f9c000 !important;
}

.deleteCommentBtn:hover,
.closeConfirmDeleteBtn:hover {
  background-color: #f9bf008b(255, 166, 0, 0.5) !important;
}

.closeConfirmDeleteBtn {
  margin: 1% !important;
}

.confirmDeleteBtn:hover {
  background-color: rgba(255, 0, 0, 0.488) !important;
}

.confirmDeleteBtn {
  color: white !important;
  padding: 2px !important;
  font-size: 13px !important;
  background-color: rgba(255, 0, 0, 0.588) !important;
}