/* .exercise-select {
  width: 50%;
} */

.userWeight,
.userReps,
.userNotes,
.userMiles,
.userPace,
.userSets,
.exercise-select {
  width: 100%;
  background-color: white;
  margin: 0.1%;
  margin-top: 5%;
}

