


.signinOrSignupDiv p {
  text-align: center;
  font: white;
  font-size: 30px;
}

.loginBtn,
.signupBtn {
  color: rgb(255, 255, 255) !important;
  background-color: #f9c000 !important;
}

.addSetBtn, .saveSetBtn, .logWorkoutBtn {
  background-color: #f9c000;
  color: black;
  border: none;
  margin: 2%;
}


.addSetBtn:hover, .saveSetBtn:hover,
.logWorkoutBtn:hover {
  background-color: #f9bf0074;
}

.removeSetBtn {
  background-color: #f9000043;
  border: none;
}

.removeSetBtn:hover {
  background-color: #f900002d;
  border: none;
}