.selectActivityDropdown {
  /* margin: 1%; */
  width: 100%;
  position: relative;
  bottom: 18px
}

.clearIcon {
  position: relative;
  color: black;
  left: 90%;
  bottom: 32px;
  cursor: pointer
}

.totalWeightDiv {
  display: flex;
  gap: 60px;
}

.maxRepCal {
  margin-left: auto;
  cursor: pointer;
}

.logWorkoutBtn{
  background-color: green !important;
  color: white !important;
  margin-left: 60% !important;
  border: none;
}

.maxWeightText {
  margin-left: -10%;
  background-color: transparent;
  color: rgb(59, 75, 139);
  border: none;
}

