/* 
.addSetBtn, .saveSetBtn, .logWorkoutBtn {
  background-color: #f9c000;
  color: black;
  border: none;
  margin: 2%;
}


.addSetBtn:hover, .saveSetBtn:hover,
.logWorkoutBtn:hover {
  background-color: #f9bf0074;
}

.removeSetBtn {
  background-color: #f9000043;
  border: none;
}

.removeSetBtn:hover {
  background-color: #f900002d;
  border: none;
} */
