.userEmail, 
.username, 
.userBio, 
.userSocialHandle, 
.userLocationBox, 
.userPassword {
  background-color: rgba(240, 248, 255, 0.709);
  width: 40%;
  border-radius: 10px 10px 10px 10px;
}

.userEmailField, 
.usernameField, 
.userBioField, 
.userSocialHandleField, 
.userLocationField, 
.userPasswordField {
  color: White !important;
  font: 40px !important;
}

.userEmailDiv, 
.usernameDiv, 
.userSocialHandleDiv, 
.userBioDiv, 
.userPwdDiv, 
.userConfirmPwdDiv {
  margin: 1%;
  width: 250% !important;
}

.applyBtn, .changePasswordBtn, .doneBtn {
   background-color: #f9c000 !important;
  color: white;
  border: none
}

.userLocationDiv {
  margin: 1%;
  width: 65%;
}

.dateFormat {
  color: grey
}
.test {
  border-radius: 40%;
}

.userLocationBox {
  width: 40%;
  /* min-width: 10%; */
}

.deleteAcctBtn {
  color: white;
}

.confirmDeleteText {
  color: red
}


.user-info-container {

  padding: 1rem;
  /* background-color: #f8f9fa; */
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info-item, .form-label {
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  color: #f9c000
}

.user-info-item p {
  margin: 0;
  font-size: 1rem;
  color: #495057;
}
