.title {
  color: white;
}

.main, .accordion-item {
  background-color: #333 !important;
  color: #fff !important;
  border: none !important;
}

.main, .accordion-header {
  border-radius: 10px !important;
  background-color: #f9c000 !important; 
  color: #333 !important; 
}

.main, .accordion-button {
  background-color: #f9c000 !important;
  color: #333 !important; 
  border: none !important; 
}

.main, .accordion-button:not(.collapsed) {
  background-color: #f9c000 !important;
  color: #333 !important;
  border: none !important;
}

.main, .accordion-body {
  background-color: #333 !important;
  color: #fff !important; 
  border: none !important; 
}

.main, .card {
  background-color: #333 !important;
  color: #fff !important; 
  border: none !important;
}

.workoutStats p {
  color: #f9c000 !important;
  margin: 1%;
}

.workoutStats {
  border: 1px solid rgba(255, 255, 255, 0.482);
  border-radius: 10px;
}

.main, .btn-primary {
  background-color: #f9c000 !important; 
  border-color: #f9c000 !important;
}

.main, .btn-primary:hover {
  background-color: #e6b800 !important; 
  border-color: #e6b800 !important;
}

.main, .btn-success {
  background-color: #f9c000 !important;
  border-color: #f9c000 !important;
}

.main, .btn-success:hover {
  background-color: #e6b800 !important;
  border-color: #e6b800 !important;
}

.main, .btn-secondary {
  background-color: #555 !important;
  border-color: #555 !important;
}

.main, .btn-secondary:hover {
  background-color: #444 !important;
  border-color: #444 !important;
}
