.userContent, 
.userTopic,
.userTopicForm{ 
  background-color: rgba(255, 255, 255, 0.987);
  width: 40%;
  border-radius: 10px 10px 10px 10px;
}

.userPost {
  /* height: 50px; */
  /* width: 100%; */
  white-space: pre-wrap;
  background-color: rgba(255, 255, 255, 0.987);
  /* border-radius: 10px 10px 10px 10px; */
  white-space:inherit
}

.userTitle {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.987);
  border-radius: 10px 10px 10px 10px;
}

.userTitleDiv,
.userPostDiv, 
.userContentDiv, 
.userTopicDiv,
.userTopicForm {
  margin: 1%;
}

.addPostBtn, .viewPostBtn {
  background-color: #f9c000;
  color: black;
  border: none;
}

.addPostBtn:hover, .viewPostBtn:hover {
  background-color: #f9bf0074;
}
